<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/fa9be4f5-e752-4c72-a9db-a1fac33b3cf6/resourceGroups/AzureLearning/providers/Microsoft.ContainerRegistry/registries/BulkyBookDataAccess20230316095942</ResourceId>
    <ResourceName>BulkyBookDataAccess20230316095942</ResourceName>
    <ResourceGroup>AzureLearning</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://bulkybookdataaccess20230316095942.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>